name: Build for i686

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ '*' ]

jobs:
  build:

    strategy:
      matrix:
        cc: [gcc, clang]
        arch: [i686]

    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:

    # Let's keep this step first, before installing the dependencies: sometimes
    # pulling bzip2 as a submodule fails because the sourceware.org git server
    # is down. Keeping this step first lets the workflow fail faster. The next
    # step, installing the dependencies, is about 60% of the workflow total run
    # time.
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install dependencies
      run: sudo apt update && sudo apt-get install -y gcc-multilib nasm qemu-system-x86

    - name: configure
      run: ./configure --debug --werror --arch ${{ matrix.arch }} --cc ${{ matrix.cc }}

    - name: make
      run: make

    - name: libjinue
      run: make libjinue

    - name: make testapp
      run: make testapp
    
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: artifact-${{ matrix.cc }}
        path: |
          kernel/interface/i686/jinue
          userspace/lib/jinue/libjinue-syscalls.a
          userspace/lib/jinue/libjinue-utils.a
          userspace/testapp/jinue-testapp-initrd.tar.gz
    
    - name: Run tests
      run: make check
